<div class="col-xl-12 col-md-6 timline-card">
  <div class="card ">
    <div class="card-content">
      <div class="card-body">
        <ul class="widget-timeline ps ps--active-y">
          <li class="timeline-items timeline-icon-success active">
            <div class="timeline-time">Mon 8:17pm</div>
            <h6 class="timeline-title">Jonny Richie Commented</h6>
            <p class="timeline-text">on <a href="JavaScript:void(0);">Project name</a></p>
            <div class="timeline-content">
              Story behind vedio game and lame is very creative
            </div>
          </li>
          <li class="timeline-items timeline-icon-primary active">
            <div class="timeline-time">5 days ago</div>
            <h6 class="timeline-title">Mathew Slick attached file</h6>
            <p class="timeline-text">on <a href="JavaScript:void(0);">Project name</a></p>
            <div class="timeline-content">
              <img src="../../../app-assets/images/icon/sketch.png" alt="document" height="36" width="27" class="mr-50">Data Folder.sketch
            </div>
          </li>
          <li class="timeline-items timeline-icon-danger active">
            <div class="timeline-time">7 hours ago</div>
            <h6 class="timeline-title">Mathew Slick docs</h6>
            <p class="timeline-text">on <a href="JavaScript:void(0);">Project name</a></p>
            <div class="timeline-content">
              <img src="../../../app-assets/images/icon/pdf.png" alt="document" height="36" width="27" class="mr-50">Updated Docs.pdf
            </div>
          </li>
          <li class="timeline-items timeline-icon-info active">
            <div class="timeline-time">5 hour ago</div>
            <h6 class="timeline-title">Ndrew send you a message</h6>
            <p class="timeline-text">on <a href="JavaScript:void(0);">Project name</a></p>
            <div class="timeline-content">
              Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
              because it is
              pain, but because occasionally circumstances
            </div>
          </li>
          <li class="timeline-items timeline-icon-warning">
            <div class="timeline-time">2 min ago</div>
            <h6 class="timeline-title">Mathew Slick liked </h6>
            <p class="timeline-text">on <a href="JavaScript:void(0);">Project name</a></p>
            <div class="timeline-content">
              The Amairates
            </div>
          </li>
      </div>
    </div>
  </div>
</div>