<div class="card">
        <div class="row">
          <!-- Order Summary Starts -->
          <div class="col-md-3 col-12 order-summary border-right pr-md-0 user-profile-card">
            <div class="card mb-0">
              <div class="card-header d-flex justify-content-between avatar-background-color">  
                <div class="avatar">
                  <%= image_tag 'avatar-s-4.jpg', width:"32", class: 'img-fluid', height: '134', width: '134' %>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body p-0" style="position: relative;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: Some class name</li>
                    <li class="list-group-item">Description: all some desription about this class</li>
                    <li class="list-group-item">Users: 36</li>
                    <li class="list-group-item">Students: 36</li>
                    <li class="list-group-item">Teacher: 36</li>
                    <li class="list-group-item">Lead: 36</li>
                    <li class="list-group-item">: 36</li>
                    <li class="list-group-item">Users: 36</li>
                    <li class="list-group-item">Users: 36</li>

                  </ul>
                <div class="resize-triggers">
                  <div class="expand-trigger">
                  <div style="width: 1200px; height: 271px;">
                  </div>
                  </div>
                  <div class="contract-trigger">
                  </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- Sales History Starts -->
          <div class="col-md-9 col-12 pl-md-0">
            <div class="card mb-0">
              <div class="card-header pb-50">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="home-tab-fill" data-toggle="tab" href="#home-fill" role="tab" aria-controls="home-fill" aria-selected="f">
                      Стрічка новин
                    </a>
                  </li>
                  <li class="nav-item current">
                    <a class="nav-link active" id="profile-tab-fill" data-toggle="tab" href="#profile-fill" role="tab" aria-controls="profile-fill" aria-selected="false">
                      Завдання
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="messages-tab-fill" data-toggle="tab" href="#messages-fill" role="tab" aria-controls="messages-fill" aria-selected="false">
                      Чат
                    </a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" id="settings-tab-fill" data-toggle="tab" href="#settings-fill" role="tab" aria-controls="settings-fill" aria-selected="false">
                      Користувачі
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="settings-tab-fill" data-toggle="tab" href="#settings-fill" role="tab" aria-controls="settings-fill" aria-selected="false">
                      Календар
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="settings-tab-fill" data-toggle="tab" href="#settings-fill" role="tab" aria-controls="settings-fill" aria-selected="false">
                      Настройки
                    </a>
                  </li>
                </ul>
                <div class="tab-content pt-1">
              <div class="tab-pane active" id="home-fill" role="tabpanel" aria-labelledby="home-tab-fill">
                <%= render 'shared/account/class_rooms/feed_news' %>
              </div>
              <div class="tab-pane" id="profile-fill" role="tabpanel" aria-labelledby="profile-tab-fill">
                <p>
                  Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton candy
                  gummi
                  bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love caramels
                  powder.
                </p>
              </div>
              <div class="tab-pane" id="messages-fill" role="tabpanel" aria-labelledby="messages-tab-fill">
                <p>
                  Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake powder
                  pudding pastry.
                </p>
              </div>
              <div class="tab-pane" id="settings-fill" role="tabpanel" aria-labelledby="settings-tab-fill">
                <p>
                  Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton candy
                  gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                  caramels powder.
                </p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>